<form enctype="multipart/form-data" method="post">
  {% csrf_token %}
  {% for f in form %}
    <div class="mb-3">
      <label for="" class="form-label">{{ f.label }}</label>
      {% if f.field.widget.input_type == 'file' and f.value %}
        <br>
          <img src="/polls{{ f.value.url }}" width="100" alt=""/>
        </br>
      {% endif %}
      <input
        type="{{ f.field.widget.input_type }}"
        class="form-control"
        name="{{ f.name }}"
        id=""
        aria-describedby="helpId"
        placeholder="{{ f.label }}"
        value="{{ f.value | default:'' }}"/>
    </div>
    <div class="col-12 help-text"> {{ f.errors }} </div>
  {% endfor %}
  <input
    name=""
    id=""
    class="btn btn-success"
    type="submit"
    value="Save"/>
  <a
    name=""
    id=""
    class="btn btn-secondary"
    href="{% url 'books' %}"
    role="button"
    >Back</a>
</form>